/* *{
    border: 1px solid red;
} */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #dfecf0;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.shapes {
    display: flex;
    text-align: center;
    gap: 120px;
}

.shape:hover {
    background-color: #f4f4f4;
}

.shape {
    background-color: white;
    border-radius: 15px;
    padding: 12px;
}

.emoji {
    font-size: 120px;
    padding-bottom: 12px;
}