/* *{
    border: 1px solid red;
} */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #dfecf0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'Bebas Neue', cursive;
    background-color: white;
    text-align: center;
    color: #eda600;
    font-size: 30px;
}

.header h1 {
    margin: 0;
}

.content {
    flex: 1;
}

.result {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 200px 0 60px 0;
}

.shapes {
    display: flex;
    justify-content: center;
    gap: 120px;
}

.shape {
    background-color: white;
    border-radius: 15px;
    padding: 12px;
    transition: all .07s;
}

.shape:hover {
    transform: scale(1.1);
    border: 2px solid #eda600;
    box-shadow: 0 0 .5rem #ffc600;
}

.emoji {
    font-size: 120px;
    padding-bottom: 12px;
}

.shape .text {
    font-size: 18px;
}

.score {
    display: flex;
    justify-content: center;
    gap: 150px;
    font-size: 25px;
    margin-top: 60px;
}

.footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    gap: 6px;
    padding: 3px 0;
    text-decoration: none;
    color: inherit;
}